
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    width: 100%;
    background: #14161a;
}

::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background-color: #14161a;

}
::-webkit-scrollbar-thumb{
    background: #bbbbbb;
    border-radius: 20px;
    

}